h1{
    background-color: green;
    font-size: 20px;
}

@media screen and (min-width: 480px) and (max-width: 767px){
    h1{
        background-color: yellow;
    }
}

@media screen and (min-width: 768px) and (max-width: 1279px){
    h1{
        background-color: red;
        font-size: 50px;
    }
}

@media screen and (min-width: 1280px){
    h1{
        background-color: blue;
        font-size: 70px;
    }
}